<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.netease.cloudmusic.datareport.debug">
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <application>
        <provider
            android:authorities="${applicationId}.datareport.debug"
            android:name=".DataReportDebugInstaller"
            android:exported="false"
            />
    </application>
</manifest>